@page
@model WebApplication3.Pages.DeliveryWorkersModel
@{
    ViewData["Title"] = "Delivery Workers";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="~/css/maneger.css" />
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="~/css/items.css"> <!-- Reference the new CSS file -->
</head>
<body>

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                <li class="active">
                    <a asp-page="/Items">Menu </a>
                </li>
                <li>
                    <a asp-page="/DeliveryWorkers">Workers</a>
                </li>
                <li>
                    <a asp-page="#">Orders</a>
                </li>
                <li>
                    <a asp-page="#">Customers</a>
                </li>
                <li>
                    <a asp-page="#">Suppliers</a>
                </li>
                <li>
                    <a asp-page="/Discount">Promo Codes</a>
                </li>
                <li>
                    <a asp-page="#">Contact</a>
                </li>
            </ul>
        </div>
        <div class="container fform">
            <div class="title">Menue Items</div>
            <form action="3">
                <div class="item-details">
                    <div class="inbut-box">
                        <span class="details">Worker ID</span>
                        <input type="text" placeholder="Enter The Delivery ID" required>
                    </div>
                    <div class="inbut-box">
                        <span class="details">Name</span>
                        <input type="text" placeholder="Enter The Name" required>
                    </div>
                    <div class="inbut-box">
                        <span class="details">Email</span>
                        <input type="text" placeholder="Enter Delivery Email" required>
                    </div>
                    <div class="inbut-box">
                        <span class="details">Phone</span>
                        <input type="text" placeholder="Enter The Phone" required>
                    </div>
                   
                </div>
                <div class="button add">
                    <input type="submit" value="Add" />
                </div>
                <div class="button delete">
                    <input type="submit" value="Delete" />
                </div>
                <div class="button update">
                    <input type="submit" value="Update" />
                </div>

            </form>
        </div>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="table-container">
                    <div class="container">
                        <ul class="responsive-table">
                            <li class="table-header">
                                <div class="col col-1">Delivery ID</div>
                                <div class="col col-2">Name</div>
                                <div class="col col-3">Email</div>
                                <div class="col col-4">Phone</div>
                            </li>
                           @*  @foreach (var worker in Model.Workers)
                            {
                                <li class="table-row">
                                    <div class="col col-1" data-label="Item ID">@worker.WorkerID</div>
                                    <div class="col col-2" data-label="Name">@worker.Name</div>
                                    <div class="col col-3" data-label="Description">@worker.Email</div>
                                    <div class="col col-4" data-label="Phone">@worker.phone</div>
                                </li>
                            } *@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Script and Style Imports (unchanged) -->

</body>
</html>
