@page
@model WebApplication3.Pages.DiscountModel
@{
    ViewData["Title"] = "Discount";
    <link rel="stylesheet" type="text/css" href="~/css/items.css">
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="~/css/maneger.css" />
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="~/css/items.css"> <!-- Reference the new CSS file -->
</head>
<body>

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                <li class="active">
                    <a asp-page="/Items">Menu </a>
                </li>
                <li>
                    <a asp-page="/DeliveryWorkers">Workers</a>
                </li>
                <li>
                    <a asp-page="#">Orders</a>
                </li>
                <li>
                    <a asp-page="#">Customers</a>
                </li>
                <li>
                    <a asp-page="#">Suppliers</a>
                </li>
                <li>
                    <a asp-page="/Discount">Promo Codes</a>
                </li>
                <li>
                    <a asp-page="#">Contact</a>
                </li>
            </ul>
        </div>  @if (TempData["ResultMessage"] != null)
        {
            <div class="alert alert-info">
                @TempData["ResultMessage"]
            </div>
        }
@*         <div class="container fform">
            <div class="title">menu items</div>
            <form method="post" asp-page-handler="onpost">
                <div class="item-details">
                    <div class="inbut-box">
                        <span class="details">item id</span>
                        <input asp-for="newitemid" placeholder="enter item id" id="itemid" name="itemid" required>
                      
                    </div>

                    <div class="inbut-box">
                        <span class="details">item name</span>
                        <input placeholder="enter item name" id="itemname" name="itemname" required />
                    </div>
                    <div class="inbut-box">
                        <span class="details">description</span>
                        <input placeholder="enter item description" required id="itemdescription" name="description" />
                    </div>
                    <div class="inbut-box">
                        <span class="details">image</span>
                        <input placeholder="enter image name" required id="itemimagepath" name="imagepath" />
                    </div>
                    <div class="inbut-box">
                        <span class="details">category</span>
                        <input placeholder="enter item category" required id="itemcategory" name="category" />
                    </div>
                    <div class="inbut-box">
                        <span class="details">price</span>
                        <input placeholder="enter item price" required id="itemprice" name="price" oninput="validatenumericinput(this)">
                    </div>


                </div>
                <div class="button clear">
                    <input type="button" value="clear" onclick="clearalltextboxes()" />
                </div>

                <button type="submit" name="handler" value="add">add</button>
                <button type="submit" name="handler" value="delete">delete</button>
                <button type="submit" name="handler" value="update">update</button>





            </form>
        </div>
 *@      
        <div class="container fform">
            <div class="title">coupons</div>
            <form method="post" asp-page-handler="onpost">
                <div class="item-details">
                    <div class="inbut-box">
                        <span class="details">item id</span>
                        <input asp-for="NewCouponId" placeholder="enter Coupon id" id="couponid" name="couponid" required>

                    </div>
                    <div class="inbut-box">
                        <span class="details">code</span>
                        <input placeholder="enter Coupon Code" id="code" name="code" required />
                    </div>
                    <div class="inbut-box">
                        <span class="details">discount</span>
                        <input placeholder="enter Coupon Discount" id="discountpercentage" name="discountpercentage" required />
                    </div>
                    <div class="inbut-box">
                        <span for="dateofbirth">epiry date</span>
                        <input type="date" name="expirydate" id="expirydate">
                    </div>
                    <div class="inbut-box">
                        <span class="details">minimum</span>
                        <input type="text" name="minimumtotal " id="minimumtotal" placeholder="minimum total" required>
                    </div>
                </div>
                <div class="button add">
                    <button type="submit" name="handler" value="add">Add</button>
                </div>
                <div class="button delete">
                    <button type="submit" name="handler" value="delete">Delete</button>
                </div>
                <div class="button update">
                    <button type="submit" name="handler" value="update">Update</button>
                </div>

            </form>
        </div>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="table-container">
                    <div class="container">
                        <ul class="responsive-table">
                            <li class="table-header">
                                <div class="col col-1">Coupon ID</div>
                                <div class="col col-2">Code</div>
                                <div class="col col-3">Discount Percentage</div>
                                <div class="col col-4">Expiry Date</div>
                                <div class="col col-5">Minimum Of Total</div>
                            </li>
                            @foreach (var coupon in Model.Coupons)
                            {
                                <a href="#" class="table-row-link" onclick="SelectRow('@coupon.CouponID', '@coupon.Code', '@coupon.DiscountPercentage', '@coupon.ExpiryDate', '@coupon.MinimumTotal')">
                                <li class="table-row">
                                    <div class="col col-1" data-label="Coupon ID">@coupon.CouponID</div>
                                    <div class="col col-2" data-label="Code">@coupon.Code</div>
                                    <div class="col col-3" data-label="Discount Percentage">@coupon.DiscountPercentage</div>
                                    <div class="col col-4" data-label="Expiry Date">@coupon.ExpiryDate.ToShortDateString()</div>
                                    <div class="col col-5" data-label="Minimum Of Total">@coupon.MinimumTotal</div>
                                </li>
                                </a>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function SelectRow(couponID, code, discountPercentage, expiryDate, minimumTotal) {
            // Set the values of the textboxes based on the clicked row
            document.getElementById('couponid').value = couponID;
            document.getElementById('code').value = code;
            document.getElementById('discountpercentage').value = discountPercentage;
            document.getElementById('expirydate').value = expiryDate;
            document.getElementById('minimumtotal').value = minimumTotal;
        }

        function clearAllTextBoxes() {
            location.reload();
        }

        function validateNumericInput(input) {
            input.value = input.value.replace(/[^0-9.]/g, '');
        }
    </script>

</body>
</html>
