@page
@model WebApplication3.Pages.DiscountModel
@{
    ViewData["Title"] = "Discount";
    <link rel="stylesheet" type="text/css" href="~/css/items.css">
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="~/css/maneger.css" />
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="~/css/items.css"> <!-- Reference the new CSS file -->
</head>
<body>

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                <li class="active">
                    <a asp-page="/Items">Menu </a>
                </li>
                <li>
                    <a asp-page="/DeliveryWorkers">Workers</a>
                </li>
                <li>
                    <a asp-page="#">Orders</a>
                </li>
                <li>
                    <a asp-page="#">Customers</a>
                </li>
                <li>
                    <a asp-page="#">Suppliers</a>
                </li>
                <li>
                    <a asp-page="/Discount">Promo Codes</a>
                </li>
                <li>
                    <a asp-page="#">Contact</a>
                </li>
            </ul>
        </div>
        <div class="container fform">
            <div class="title">Coupons</div>
            <form action="3">
                <div class="item-details">
                    <div class="inbut-box">
                        <span class="details">Coupon ID</span>
                        <input type="text" placeholder="Enter Coupon ID" required>
                    </div>
                    <div class="inbut-box">
                        <span class="details">Code</span>
                        <input type="text" placeholder="Enter the Code" required>
                    </div>
                    <div class="inbut-box">
                        <span class="details">Discount</span>
                        <input type="text" placeholder="Discoubt Percentage" required>
                    </div>
                    <div class="inbut-box">
                        <span for="dateofbirth">Epiry Date</span>
                        <input type="date" name="expirydate" id="expirydate">
                    </div>
                    <div class="inbut-box">
                        <span class="details">Minimum</span>
                        <input type="text" placeholder="Minimum Total" required>
                    </div>
                </div>
                <div class="button add">
                    <input type="submit" value="Add" />
                </div>
                <div class="button delete">
                    <input type="submit" value="Delete" />
                </div>
                <div class="button update">
                    <input type="submit" value="Update" />
                </div>

            </form>
        </div>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="table-container">
                    <div class="container">
                        <ul class="responsive-table">
                            <li class="table-header">
                                <div class="col col-1">Coupon ID</div>
                                <div class="col col-2">Code</div>
                                <div class="col col-3">Discount Percentage</div>
                                <div class="col col-4">Expiry Date</div>
                                <div class="col col-5">Minimum Of Total</div>
                            </li>
                           @*  @foreach (var item in Model.MenuItems)
                            {
                                <li class="table-row">
                                    <div class="col col-1" data-label="Item ID">@item.ItemID</div>
                                    <div class="col col-2" data-label="Name">@item.Name</div>
                                    <div class="col col-3" data-label="Description">@item.Description</div>
                                    <div class="col col-4" data-label="Price">@item.Price</div>
                                    <div class="col col-5" data-label="Image Path">@item.ImagePath</div>
                                    <div class="col col-6" data-label="Category">@item.Category</div>
                                </li>
                            } *@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Script and Style Imports (unchanged) -->

</body>
</html>
